

body{
	background-color: #aaa;
	background-image: url("vintage.jpg");
}


p{
	color: #00008b;
	font-size: 2em;
	line-height: 1.25em;
	font-style: italic;
}
	



h1, h2, h3, h4{
	color: #00008b;
	text-decoration: underline;
	font-size: 2em;
	line-height: 4em;
	letter-spacing: 2px;
	font-weight: bold;
}

h5{
	color: #00008b;
	font-size: 1.25em;
	line-height: 2em;
	letter-spacing: 1px;
	font-weight: bold;
}